.Single-article{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 270px;
    width: 270px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    transition: .2s;
    background: #ffffff;
    box-shadow: -2rem 0 3rem  #121f3d;

}

.Single-article:hover{
    transform: translateY(-1rem);
}
.Single-article:hover~.Single-article {
    transform: translateX(130px);
}
.Single-article:not(:first-child){
    margin-left: -130px;
}

.author-row{
    margin-block-start: auto;
    align-items: center;
    color: #565656;
    line-height: 1.3;
}