.message{
    align-items: center;
    background-color: #24317A;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-between;
    text-align: center;
    max-width: 1200px;
}
.car-shop{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
}

.car-title{
    background-color: hotpink;
    border-radius: 12px;
    padding:5px;
    height: auto;
    margin-top: -18px;
    margin-left: 104px;
}

.banner-center:before , .banner-center:after {
    content: '|';
    margin:1rem;
    font-weight: bold;
    font-size: 25px;
}

.banner-end{
    margin-right: 3.5rem;
    font-size: 20px;
    width: 300px;
}

@media only screen and (max-width: 768px){

    .message{
        height: auto;
        justify-content: center;
    }

    .banner-end{
        width: auto;
        margin: 15px auto;
    }


}