*{
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
   
}


.Header{
    background: #121f3d;
    display:grid;
    grid-template-columns: auto 1fr 0.5fr;
    height: 80px;
    width: 100vw;
}

.Header-logo{
    display: flex;
    align-items: center;
    height: 100%;
    
}

.Logo{
    padding-left: 12px;
}

.Logo-img{
    width:50px;
}

.text-home{
    display: grid;
    justify-content:end ;
    align-self: center;
}

.text-home > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.img-header{
    width: 40px;
    margin: 12px;
}

.Nav{
    display:grid;
    justify-self: end;
}

.Nav-unorderList{
    list-style: none;
    display: flex;
    align-items: center;
}
.colombia-flag{
    width:50px;
    border-radius: 12px;
    padding-left: 12px;
}   

.item{
    color: #fff;
    font-weight: 600;
}

.item:after{
    content: "|";
    
    margin:12px;
}

.item:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){

    .Header{
        display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Header-logo{
        margin: 10px 20px 0 20px;
    }

    .Logo{
        width: 40px;
        order:1;
    }

    .Nav{
        margin:auto;
        order:2;
        justify-content: center;
    }

    .text-home{
        margin: 10px auto;
        order:3;

    }


}