.Home{
    margin:auto;
    background-color: #121f3d;
    max-width: 1200px;
}

a{
    text-decoration: none;
    color: #fff;
}

.lastBlogs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 7rem 0;
}


.line{
    width: 80px;
    height: 5px;
    background: red;
    margin: 15px 0;
}

.title{
    color: #fff;
    font-size: 700;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 40px;
}

.libreria{
    background-color: #121f3d;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 220px auto ;
    grid-row: 350px;
   height: 350px;
    padding: 0 0 1rem 1rem ;
}

.libreria-title{
    background-color: #F06C82;
    grid-column: 1/2;
    padding: 1.5rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
    height: 300px;
    
}

.articles{
    display: flex;
    grid-column: 2/3;
   
    height: 350px;
    overflow-x: visible;
    overflow-x: scroll;
    align-items: flex-end;
}

.articles::-webkit-scrollbar{
    width: 10px;
    height: 20px;
}
.articles::-webkit-scrollbar-thumb{
    background: #121f3d;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.articles::-webkit-scrollbar-track{
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.sponsor{
    background: #121f3d;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.sponsor-img{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-publicity{
    align-items: center;
    background: #24385b;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.section-publicity > h1{

    padding-top: 1rem;
    font-size: 700;
}
.publicity-content{
    color: #fff;
    background: #24385b;
    display: grid;
    grid-template-columns: 400px auto;
    padding: 1.5rem;
    max-width: 1200px;
    
    
}

.img-rocket{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-rocket > img{
    width:250px;
    border-radius:50% ;
}
.publicity-one{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.publicity-two{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.publicity-two > p {
    background: rgba(255,255, 255,0.3);
    border-radius: 12px;
    padding: 1rem;
}

.publicity-two > p , 
.publicity-two > strong {
    color:#becde3;
    line-height: 1.5;
    font-size: 18px;
}

.mini-cart{
    
    width: 300px;
    background: #98ca3f;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 8px 19px 0 rgba(3,9,30,.32);
    padding: 1.5rem;
}
.testimonial{
    display: grid;
    justify-self: center;
    height: auto;
    align-self: center;
    padding-bottom: 1.5rem;
}

.mission{
    text-align: center;
}

.publicity-text{
    text-align: center;
    margin-top: 12px;
    color:#becde3;
    line-height: 1.5;
    font-size: 18px;
}

.list-request-publicity{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-request-publicity > li {
    color: #000;
    width: 200px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0.5rem;
    text-align: center;
    font-size: 400;
}



.icon-sponsor{
    width: 50px;
    margin: 0.5rem;
}

.sponsor-img > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){

    .lastBlogs{
        padding-bottom: 1.5rem;
    }

    .libreria{
        display: flex;
        width: 95%;
    }

    .libreria-title{
        display: none;
        order:2;
    }

    .articles{
        order:1;
    }

    .Single-article{
        width: 150px;
    }

    .publicity-content{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0%;
    }

    .publicity-two > p{
        margin: 0 2rem 2rem 2rem;
    }

    .sponsor-img {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        display: 1rem 2rem;
    }

    .sponsor-img > a {
        margin: 10px 2rem;
    }
}