*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.bg{
    width:100vw;
}

.container{
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
}

.m-vertical{
    margin: 1rem 0;
}

.hero{
    background-color: #51344D;
    padding: 4rem;
}

.hero__title{
    color:white;
    font-size: 4rem;
}

.menu__profile{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__profile p{
    margin:0px 1rem;
    font-size: 1.2rem;
    color:white;
}

.menu__profile img{
    border-radius:20px;
    border: white
  
}

.Menu ul{
   justify-content: flex-end;
    
    margin-right: 10px;
    padding: 1rem 1rem;
    display:none;
    
}

.Menu:hover ul,.Menu ul:hover{
    display: block;
}
.Menu{
    margin-right: 16px;
    
  
}

.Menu a{ color: black}

.Menu li{
    padding:5px 0px;
    text-align: right;
    margin: 10px 0;
    background-color: white;
    
}

.bg-purple{
    background: #673ab7;
}

.Menu-list{
    display: flex;
 
}

.Menu-list-item{
    background: #A78682;
    flex:1;
    padding: 1rem 0rem;
    text-align: center;
}

.Menu-list-item:nth-child(2){
    margin: 0 1rem;
}

.Menu-list-item >  a  {
    color: white;
    cursor: pointer;
}

.thumbnail{
    height: 29rem;
    
}

.thumbnail>img{
    width: 100%;
    height: 100%;
}



@media only screen and (max-width: 768px){
    .hero__title{
        font-size: 2rem;
    }
    .Menu-list{
        display: block;
    }

    .Menu-list-item, .Menu-list-item:nth-child(2){
        margin: 1rem 0rem;
    }
}